@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Montserrat';
}
.gradient{
  background: linear-gradient(to right, tomato, rgb(255, 42, 237));
}
::-webkit-scrollbar {
    width: 5px;
  }
  

  ::-webkit-scrollbar-track {
    background: transparent;
  }
  

  ::-webkit-scrollbar-thumb {
    background: rgb(0, 153, 255);
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  @media screen and (max-width: 1094px) {
    html, body{
      padding-left: 15vh;
      padding-right: 15vh;
    }
  }
  @media screen and (max-width: 598px) {
    html, body{
      padding-left: 10vh;
      padding-right: 10vh;
    }
  }
  @media screen and (max-width: 460px) {
    .social{
      margin-top: -0;
      margin-top: 2vh;
    }
  }
  /* padding-left: 14rem;
padding-right: 14rem; */